.footer {
    padding: 128px 0 39px 0;
    &__descr {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: #7B8BAD;
        text-align: center;

    }
}